a{
  margin: 0 .5em;

  svg{
      height: 32px;
  }
} 
.social-icons{
  margin-top: 10px;
}
.social-icons a{
  transition: transform 0.5s;
  margin: .5em 1em;
}
.social-icons a:hover{
  svg{
      fill: #76ABAE;
  }
  transform: translateY(-5px);
}


.home{
        position: relative;
        overflow: hidden;
    
    
      .glitter {
        position: absolute;
        top: -10px;
        width: 1px;
        height: .5em;
        background: #EEEEEE;
        border-radius: 0;
        opacity: 0;
        animation: fall 10s linear infinite, shimmer 2s infinite;
      }
      
      @keyframes fall {
        0% {
          top: -10px;
          left: calc(100vw * var(--glitter-left));
          opacity: .1;
        }
        100% {
          top: 110%;
          left: calc(100vw * var(--glitter-left));
          opacity: 0;
        }
      }
      
      @keyframes shimmer {
        0%, 100% {
          transform: scale(1);
          opacity: 0.1;
        }
        50% {
          transform: scale(1.5);
          opacity: .4;
        }
      }

      .glitter {
        --glitter-left: calc(1 / 50 * var(--glitter-index));
        animation-delay: calc(0.2s * var(--glitter-index));
      }

      .glitter:nth-child(4n) {
        width: 4px;
        height: 1.5em;
        animation-duration: 4s;
        background-color: #EEEEEE;
      }
      
      .glitter:nth-child(3n) {
        width: 5px;
        height: 1em;
        animation-duration: 8s;
        background-color: #22283127;
      }
      .glitter:nth-child(5n) {
        width: .2px;
        height: 1.5em;
        animation-duration: 2s;
        background-color: #EEEEEE;
      }
      .glitter:nth-child(6n) {
        width: 4px;
        height: 1em;
        animation-duration: 2s;
        background-color: #76abae61;
      }

    .d-flex{
        z-index: 1;
    }
    h1{
        font-size: 48px;
        margin-bottom: .5em;
    }
    h4{
        font-size: 32px;
        margin-bottom: .5em;
        font-weight: 700;
    }
    h3{
        font-size: 20px;
    }
    
}
.about, .contact, .portfolio, .home {
    h1, h3{
        font-weight: 800;
        letter-spacing: 2px;
    }
}

.about{
    p{
        margin: 2em 10em;

    }
    div h3{
        font-size: 24px;
        color: #76ABAE;
        margin: 2em 0;
    }
    .row{
        margin: 0 10em;
    }
    svg{
        height: 50px;
        fill: #222831;
        margin: 2em 0;
    }

    .tech-icon {
        position: relative;
        display: inline-block;
        cursor: pointer;
      
        .tooltip-text {
          visibility: hidden;
          width: auto;
          background-color: #555;
          color: #EEEEEE;
          text-align: center;
          border-radius: 5px;
          padding: 5px 10px;
          position: absolute;
          z-index: 1;
          bottom: 85%; /* Position above the icon */
          left: 50%;
          transform: translateX(-50%);
          opacity: 0;
          transition: opacity 0.3s;
      
          &::after {
            content: "";
            position: absolute;
            top: 100%; /* Arrow pointing down */
            left: 50%;
            margin-left: -5px;
            border-width: 5px;
            border-style: solid;
            border-color: #555 transparent transparent transparent;
          }
        }
      
        &:hover .tooltip-text {
          visibility: visible;
          opacity: 1;
        }
      }
      
}

.portfolio{
  .projects{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 5em auto;
  }
 
  .in-progress {
    border: 4px dashed #ccc; 
    padding: 20px;
    background-color: #f8f8f8; 
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 50vh;
  }
  
  .in-progress h2 {
    color: #333;
    font-size: 32px;
    font-weight: 800;
  }
  
  .in-progress p {
    color: #666; 
    font-size: 16px;
  }
}

.contact{

  .form-btn{
    padding: 6px;
    border: none;
    border-radius: 8px;
    font-size: 14px;
    font-weight: 800;
    letter-spacing: 1px;
    margin: .5em auto;
    
  }
  .clear-btn{
    width: 50%;
    margin-right: .5em;
    background: linear-gradient(0deg, #bcbec1, #e2e3e3);
    color: #222831;
  }
  .form-submit{
    width: 100%;
    background: linear-gradient(0deg, #222831, #555b63);
    color: #EEEEEE;
  }

  .form-btn:hover{
    background: linear-gradient(0deg, #76ABAE, #A3CFD9);
    color: #222831;
  }


  .form-control {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 0.5em;
    margin: .5em auto;
    border-radius: 8px;
    
    label {
      display: flex;
      flex-direction: column;
      width: 100%;
      color: #555;
      font-size: 12px;
    }

    input,
    textarea {
      border: none;
      width: 100%;
      box-sizing: border-box;
      font-size: 16px;
      color: #222831;
      margin-top: 0.5em;
    }

    input:focus,
    textarea:focus {
      border: none;
      outline: none;
    }
    
  }

  .row{
    margin: 5em 8em;
  }
  
  .email-btn{  
    background: linear-gradient(0deg, #222831, #555b63);
    border: none;
    border-radius: 5em;
    padding: 1em;
    margin: 1em auto;
    a{
      font-size: 20px;
      text-decoration: none;
      color: #EEEEEE;
      font-weight: 800;
      letter-spacing: 1px;
    }
    svg{
      margin-right: .5em;
      height: 24px;
      fill: #EEEEEE;
    }
  }
  .email-btn:hover{
    background: linear-gradient(0deg, #76ABAE, #A3CFD9);
    a{
      color: #222831;
    }
    svg{
      margin-right: .5em;
      height: 24px;
      fill: #222831;
    }
  }
  p{
    font-size: 20px;
    font-weight: 700;
    .social-icons{
      margin-top: 0;
    }
    .social-icons a{
      margin: 0 1em;
    }
  }
 .line-text {
    position: relative;
    text-align: center;
    color: #76ABAE;
  }

  .line-text::before,
  .line-text::after {
    content: "";
    position: absolute;
    top: 50%;
    width: 40px;
    height: 1px;
    background-color: #76ABAE;
  }

  .line-text::before {
    left: -50px;
  }

  .line-text::after {
    right: -50px;
  }

}
.success-message {
  position: fixed;
  bottom: 20px;
  right: 20px;
  font-size: 14px !important;
  font-weight: 800 !important;
  background-color: #76ABAE;;
  color: #faf8f8;
  padding: 10px 20px;
  border-radius: 5px;
  border: 1px solid #76ABAE;;
  animation: slideIn 0.5s ease-in-out forwards;
  @keyframes slideIn {
    0% {
      transform: translateX(100%);
      opacity: 0;
    }
    100% {
      transform: translateX(0%);
      opacity: 1;
    }
  }
}



@media only screen and (max-width: 820px) {
    
    .home{
        h1{
            font-size: 42px;
        }
        h4{
            font-size: 28px;
            margin-bottom: .5em;
            font-weight: 700;
        }
        h3{
            font-size: 16px;
        }
    }
    .about{
        p {
            margin: 2em 0;
            font-size: 14px;
        }
        div h3{
            font-size: 18px;

        }
        .row{
            margin: 0;
        }
        svg{
            height: 32px;
            margin: 1em 0;
        }
    }
    .contact{
      .row{
        margin: 2em 0;
      }
      .email-btn{  
        border-radius: 5em;
        padding: .5em;
        a{
          font-size: 16px;
        }
        svg{
          height: 20px;
        }
      }
    }
}