/* App.css */
.app {
    display: flex;
    background: linear-gradient(to bottom, #76abae83 0%, #EEEEEE 25% );
    color: #222831;
  
}
  
.main-content {
    margin-left: var(--sidebar-width);
    padding: 20px;
    width: calc(100% - var(--sidebar-width));
}
  
section {
    padding: 60px 0;
    height: 100vh;
}

@media only screen and (max-width: 820px) {
    #about, #portfolio, #contact {
        height: auto;
    }
}